

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">{{const.title}}</h1>
    <p class="mb-4">
        this is a list of all products
    </p>

    <p>
        <a class="btn btn-primary" routerLink="/produits/add"><i class="fas fa-plus"></i> add new product</a>
    </p>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Mes produits</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Name</th>
                            <th>Price</th>
                            <th>Code</th>
                            <th>Actions</th>
                            
                            
                        </tr>
                    </thead>
                    
                    <tbody>
                        <tr *ngFor="let p of produits">
                            <td> {{p.id}} </td>
                            <td> {{p.name}} </td>
                            <td> {{p.price | currency}} </td>
                            <td> 

                                <span *ngIf="p.code == null" class="badge badge-danger">pas de code</span>
                                <span *ngIf="p.code != null" class="badge badge-success">{{p.code.code}}</span>

                            </td>
                            <td>
                                <button class="btn btn-danger btn-sm" style="margin-right: 15px;" (click)="delete(p.id)" >delete</button>
                                <a class="btn btn-secondary btn-sm" [routerLink]="'/produits/update/'+p.id">update</a>
                                
                            </td>
                            
                        </tr>
                       
                    </tbody>
                </table>
            </div>
        </div>
    </div>

