

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Add new client</h1>
 

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Add new client</h6>
        </div>
        <div class="card-body">
            <form [formGroup]="add" (ngSubmit)="save()" >
                <div class="mb-3">
                    <label for="">Fullname</label>
                    <input type="text" class="form-control" formControlName="fullname">
                </div>
                <div class="mb-3">
                    <label for="">Email</label>
                    <input type="text" class="form-control"  formControlName="email">
                </div>
                <div class="mb-3">
                    <label for="">Code</label>
                    <input type="text" class="form-control"  formControlName="code">
                </div>
                <div class="mb-3">
                   <button class="btn btn-primary" type="submit" [disabled]="! add.valid">Ajouter</button>
                </div>
                
                
            </form>
        </div>
    </div>

